{% extends 'base.html' %} {% load static %} {% block content %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>입력 페이지</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/firstPage.css' %}"
    />
  </head>
  <body>
    <div class="firstTitle">
      이름과 비밀번호(숫자 4자리)를 <br />
      입력하시옹
    </div>
    <form
      method="POST"
      action="{% url 'create' %}"
      style="width: 100%; height: 70%"
    >
      {% csrf_token %}
      <div class="inputContainers">
        <div class="inputContainer">
          <p id="inputName">이름</p>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="이름(세 자리)을 입력해주세요."
          />
        </div>
        <div class="inputContainer">
          <p id="inputName">비밀번호</p>
          <input
            type="text"
            id="password"
            name="password"
            placeholder="숫자 4자리 입력해주세요."
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
            maxlength="4"
            minlength="4"
            required
          />
        </div>
        <div>
          <!-- 아래 요 문구도 추가 해줄 수 있어? 말 바꿔두 댐 필요없다 싶으면 지워두 대-->
          <p>⚠️ 본인의 이름을 작성하세요. 별명 X ⚠️</p>
          <p>⚠️ 비밀번호는 변경할 수 없어요!⚠️</p>
          <!--왜 안 떠.. -> 뜨게 했지롱 꺄악 천재 -->
        </div>
        <button type="submit" id="submitBtn" class="subBtn">미션 뽑기</button>
      </form>
      </div>
  </body>
</html>


{% endblock %}


<script>
  document.addEventListener("DOMContentLoaded", function () {
      var errorMessage = "{{ request.session.error_message|default:'' }}";
      if (errorMessage) {
          alert(errorMessage);
          "{% if request.session.error_message %}"
          delete request.session.error_message;
          "{% endif %}"
      }
  });
</script>