{% extends 'base.html' %} {% load static %} {% block content %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>입력 페이지</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/firstPage.css' %}"
    />
  </head>
  <body>
    <div class="firstTitle">
      이름과 비밀번호(숫자 4자리)를 <br />
      입력하시옹
    </div>
    <div class="inputContainers">
      <div class="inputContainer">
        <p id="inputName">이름</p>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="이름(세 자리)을 입력해주세요."
        />
      </div>
      <div class="inputContainer">
        <p id="inputName">비밀번호</p>
        <input
          type="text"
          id="password"
          name="password"
          placeholder="숫자 4자리 입력해주세요."
          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
          maxlength="4"
          minlength="4"
        />
      </div>
    </div>
    <button id="submitBtn" class="subBtn">미션 뽑기</button>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var submitBtn = document.getElementById("submitBtn");
        var inputName = document.getElementById("username");
        var inputPassword = document.getElementById("password");

        submitBtn.addEventListener("click", function () {
          var name = inputName.value.trim();
          var password = inputPassword.value.trim();
          //추후 명단으로 이름 수정하기
          var validNames = ["오찬주", "박영신", "김윤성"];

          if (validNames.includes(name)) {
            // 유효한 이름이면
            if (password.length === 4 && !isNaN(password)) {
              // 비밀번호가 4자리이고 숫자인 경우, 페이지 이동
              window.location.href = "/missionPage";
            } else {
              alert("비밀번호는 숫자 4자리여야 합니다.");
            }
          } else {
            // 명단에 없는 이름인 경우
            alert("멋사 12기 엠티 참여자가 아닌걸요 ?!");
          }
        });
      });
    </script>
  </body>
</html>

{% endblock %}
