{% extends 'base.html' %} {% load static %} {% block content %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/base.css" />
  </head>
  <body>
    <div class="Wrapper">
      <div class="image">
        <img
          class="introimg"
          src="{% static 'image/intro_img.png' %}"
          alt="인트로 이미지"
        />
      </div>
      <div class="startBtnContainer">
        <button class="subBtn" onclick="location.href='/firstPage/';">
          LET'S GO
        </button>
      </div>
    </div>
  </body>
</html>

{% endblock %}
