{% extends 'base.html' %} {% load static %} {% block content %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mission.css' %}" />
  </head>
  <body>
    <div class="missionWrapper">
      <div class="missionContainer">
        <div id="nicknameContainer">
          <!-- 이름, 미션 내용 db에서 매칭시켜줘야 함 ㅠ -> 된 듯?!히히 -->
          <p class="nickname">{{lion.name}}</p>
          <p>라이옹님,</p>
        </div>
        <div class="subscribe">당신의 미션은</div>
        <div id="nicknameContainer">
          <p id="missionContent" class="hidden"></p>
          <p>입니다!</p>
        </div>
        <p>아자잣 💪🏻🦁</p>
      </div>
      <div class="changeMission">
        <p>
          만약 미션을 바꾸고 싶다면?? <br />
          (누르면 재밌겠다..) <br />
          근데 한 번만 되니까 신중해라 ..
        </p>

        <button id="submitBtn" class="subBtn">미션 바꾸러 가기</button>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var missionContent = document.getElementById("missionContent");
        var text = "{{mission.description}}";
        var index = 0;

        function showText() {
          if (index < text.length) {
            missionContent.classList.remove("hidden");
            missionContent.textContent += text[index++];
            setTimeout(showText, 150);
          }
        }

        showText();

        document
          .getElementById("submitBtn")
          .addEventListener("click", function () {
            var missionChanges = "{{lion.mission_changes}}";
            if (missionChanges >= 1) {
              alert("욕심 그만 부리라옹");
            } else {
              location.href = "/changeMissionPage";
            }
          });

                  // 세션 메시지 처리
        "{% if message %}"
        alert("{{ message }}");
        "{% endif %}"
      });
    </script>
  </body>
</html>

{% endblock %}
