{% extends 'base.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/quiz.css' %}" />
    <style>
      .selected {
        background-color: orange;
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="Wrapper">
      <form method="POST" action="{% url 'quizPage' %}">
        {% csrf_token %}
        <div class="qBox">{{ quiz.question }}</div>
        <input type="text" name="user_answer" placeholder="과연 동방 비번 네 자리는?!" />
        <button type="submit" class="answerBtn">제출하기</button>
      </form>
    </div>
    <script>
      function selectAnswer(answerElement) {
        var answers = document.querySelectorAll(".answer");
        answers.forEach(function (answer) {
          answer.classList.remove("selected");
        });
        answerElement.classList.add("selected");
      }
    </script>
  </body>
</html>

{% endblock %}
