.missionWrapper {
  height: 100%;
  width: 100%;
}

.missionContainer {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 60%;
  font-size: 20px;
  padding: 16px;
}
.nickname {
  color: orange;
  font-weight: bold;
  margin-right: 5px;
}

#missionContent {
  color: orange;
  font-weight: bold;
  text-decoration: underline;
  line-height: 28px;
}

.hidden {
  color: orange;
  font-weight: bold;
  text-decoration: underline;
}

#nicknameContainer {
  display: flex;
}

#MissionContainer {
  display: flex;
  flex-direction: column;
}

.changeMission {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
  line-height: 20px;
}

#submitBtn {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* changeMission.html */

.Wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.image {
  width: 100%;
  margin-top: 20px;
}
.yareImg {
  width: 90%;
}

.desText {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 25px;
  height: 30%;
  text-align: center;
  font-size: x-large;
}

.quizBtn {
  border-radius: 25px;
  border: 2px solid black;
  padding: 10px 46px;
  background-color: white;
  cursor: pointer;
  width: 80%;
}

.quizBtn:hover {
  background-color: orange;
  color: whitesmoke;
  border-color: orange;
}
